<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>User History</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">

<link rel="stylesheet" href="../static/css/UserHistory.css">


</head>
<body>
<div class="container">

<div  class="content">
  <h1>All Results</h1>
  <div class="result-info">
   
     
    <div class="resuit-one"><p>Results of Prediction of Prediabetes</p>
    <div class="Prediction-result"><p class="res-num" id="ResNum">Result 1</p><p class="pre-res-content"> you are 
      
      
    </p></div></div>
    <div class="result-two"><p>Results of Detection and Classification
      </p> <div class="Detection-result"><p class="res-num" id="ResNum">Result 1</p><p class="det-res-content"> you are 
      
      
      </p></div>
      
    </div>
  </div>
  
 


</div>


</body>
</html>